name: Main CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"
      - "**.md"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "docs/**"
      - "**.md"

jobs:
  parse-env-file:
    name: Parse Environment
    runs-on: ubuntu-latest
    outputs:
      PACKAGE_NAME: ${{ steps.parse-env-file.outputs.PACKAGE_NAME }}
      ROS_DISTRO: ${{ steps.parse-env-file.outputs.ROS_DISTRO }}
      file-hash: ${{ steps.hash-files.outputs.hash }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Parse environment file
        id: parse-env-file
        shell: bash
        run: source .github/workflows/scripts/parse-env-file.sh $GITHUB_OUTPUT || exit 0

      - name: Hash files for cache key
        id: hash-files
        run: echo "hash=${{ hashFiles('**/*.cpp', '**/*.hpp', '**/*.py') }}" >> "$GITHUB_OUTPUT"

  python-lint:
    name: Python Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3

      - name: Ruff Check
        run: ruff check

      - name: Ruff Format
        run: ruff format --check --diff

  editorconfig-check:
    name: EditorConfig Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # 最近のバージョンのタグがないためコミットIDを指定
      - uses: editorconfig-checker/action-editorconfig-checker@48920075d6a466d902d683b648b6365703e49293

      - name: EditorConfig Check
        run: editorconfig-checker

  colcon-build:
    name: Colcon Build
    needs: parse-env-file
    runs-on: ubuntu-latest
    container:
      image: rostooling/setup-ros-docker:ubuntu-noble-ros-jazzy-desktop-latest

    steps:
      - name: Checkout install script
        uses: actions/checkout@v4
        with:
          sparse-checkout: .docker/scripts

      - name: Fetch cache
        uses: actions/cache@v4
        env:
          prefix: ${{ runner.os }}-sccache-ros-${{ needs.parse-env-file.outputs.ROS_DISTRO }}-build
        with:
          path: /github/home/.cache/sccache
          key: ${{ env.prefix }}-${{ needs.parse-env-file.outputs.file-hash }}
          restore-keys: ${{ env.prefix }}-

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9
        with:
          version: "v0.7.7" # sccache version as apt package

      - name: Colcon Build
        uses: ros-tooling/action-ros-ci@v0.4
        with:
          package-name: ${{ needs.parse-env-file.outputs.PACKAGE_NAME }}
          target-ros2-distro: ${{ needs.parse-env-file.outputs.ROS_DISTRO }}
          skip-tests: true
